################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aspnetcoreionictypewriterdemo/v15
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/backend/.vs
/backend/bin/Debug/netcoreapp2.0
/backend/obj
/frontend/node_modules
